<% provide(:title, "About") %>
<h1>About</h1>
  <p>
    Camp Cipher's reason for existing is to encourage music collaboration over the
    massive networ of the internet. We hope you enjoy your experience.
  <p>
      Layout and design from <a href="http://www.railstutorial.org/"><em>Ruby on Rails
      Tutorial</em></a> i
      This is a sample user application.
  </p>
