<% provide(:title, "Help") %>
<h1>Help</h1>
    <p>
      To reach your personal profile, you must remember the url number.
      It should look like "0.0.0.0:3000/users/1"
    <p>
      Looking for the Tutorial?
      <a href="http://www.railstutorial.org/book"><em>Ruby on Rails
      Tutorial</em> book</a>.
    </p>
