<footer class="footer">
  <small>
    Popular lyricist websites: <a href="https://genius.com/"></a>
    <a href="https://youtube.com"></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://hiphopdx.com">News</a></li>
    </ul>
  </nav>
</footer>
